
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<br />
<br />

<p>
    @if (Session["success"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">

            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Well done!</strong> @Session["success"]
        </div>
    }
</p>

<link rel="stylesheet" href="~/Content/css/myCss.css">
<body style="background: url('https://images4.alphacoders.com/556/thumb-1920-556883.jpg'">
    
    <div align="center" style="padding-right: 125px;">
        <a href="~/Views/Properties1/Index" class="btn btn-outline-primary">Properties</a> <!-- add this -->
    </div>
    <div align="center" style="padding-right: 125px;">
        <a href="~/Views/Full_Contract/Index" class="btn btn-outline-primary">Full Contract</a> <!-- add this -->
    </div>
    <div align="center" style="padding-right: 125px;">
        <a href="~/Views/Installment_Contract/Index" class="btn btn-outline-primary">Installment Contract</a> <!-- add this -->
    </div>
    
    

</body>



