@{
    ViewBag.Title = "About Us";
}


<div class="fh5co-page-title" style="background-image: url(images/slide_6.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 animate-box">
                <h1><span class="colored">About</span>US</h1>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-agents">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading white animate-box fadeIn animated-fast" data-animate-effect="fadeIn">
                <h2>Our Trusted Agents</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
            <div class="col-md-4 text-center item-block animate-box fadeIn animated-fast" data-animate-effect="fadeIn">

                <div class="fh5co-agent">
                    <figure>
                        <img alt="Free Website Template by FreeHTML5.co" src="~/Content/images/quangnguyen.jpg">
                    </figure>
                    <h3>Dang Quang Nguyen</h3>
                    <p>Dep trai</p>
                    <p><a class="btn btn-primary btn-outline" href="#">Contact Me</a></p>
                </div>

            </div>
            <div class="col-md-4 text-center item-block animate-box fadeIn animated-fast" data-animate-effect="fadeIn">
                <div class="fh5co-agent">
                    <figure>
                        <img alt="Free Website Template by FreeHTML5.co" src="~/Content/images/nguyenthevinh.jpg">
                    </figure>
                    <h3>Nguyen The Vinh</h3>
                    <p>Xau trai</p>
                    <p><a class="btn btn-primary btn-outline" href="#">Contact Me</a></p>
                </div>
            </div>
            <div class="col-md-4 text-center item-block animate-box fadeIn animated-fast" data-animate-effect="fadeIn">
                <div class="fh5co-agent">
                    <figure>
                        <img alt="Free Website Template by FreeHTML5.co" src="~/Content/images/testimonial_person4.jpg">
                    </figure>
                    <h3>...</h3>
                    <p>Nhung member khac</p>
                    <p><a class="btn btn-primary btn-outline" href="#">Contact Me</a></p>
                </div>
            </div>
        </div>
    </div>
</div>